@import 'grid';

* {
	box-sizing: border-box;
    //border: 1px solid red;
}

body {
    margin: 0;
}

.gallery {
    width: 500px;
    margin: 0 auto;
    position: relative;

    #carousel {
        width:  500px;
        height: 300px;
        margin: 0 auto;
        //border: 5px solid green;
        overflow: hidden;
        padding: 0;
        background-color: #000000;
        ul {
            margin: 0;
            padding: 0;
            width: 2500px;

           li {
                width: 500px;
                height: 300px;
                list-style-type: none;
                float: left;
                margin: 0;
                padding: 0;
                display: inline-block;
                img {
                    width: 500px;
                    height: 300px;                
                }
            }
        }
    }

    #menu {
        .active {
            background-color: white;
        }

        text-align: center;
        padding: 0;
        margin: 0 auto;
        width: 300px;
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translateX(-50%);
        li {
            display: inline-block;
            padding: 0;
            margin: 0;
            text-align: center;
            border-radius: 50%;
            padding: 5px 5px;
            cursor: pointer;
            border: 1px solid white;
        }
    }
    .next-prev {
        .row {
            margin: 0;
        }
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .control {
            font-size: 36px;
            color: white;
            opacity: 0.5;
        }
    }
}




